h1,h2{
  color:rgb(241, 154, 154);
  text-align: center;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(57, 57, 57);
}

.page{
  margin-top: 25vh;
  height: 60vh;
  width: 30vw;
  box-shadow: 0 0 10px 0 rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 5%;
}